<!DOCTYPE html>
<html>
  <head>
  <title>
    Happy Birthday  
  </title> 
  {% include 'bootstrap.html' %}
  
  </head>
  <body>
    
    {% include 'banner.html' %}
    <div class="container">
    <h1 class="text-center mt-2 mb-4">Happiest Birthday Hadassah </h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead ">
      No words can be able to explain the level of delight I have to not only know but be associated with a great person like you. From the time I came to know you you've always been someone that I look at and admire your life. This time I want to wish you the best even as you grow older I pray that the lord may continue to guide you through life and that you may succeed in all the things that you embark on. From Caleb Mtuweta with so much Love.   
    </p>
        </div>
        
  </body>
</html>